.container {
  padding: 16px;
  height: 100%;
  overflow-y: auto;

  :global {
    .ant-upload-drag {
      height: 500px !important;
    }

    .ant-upload-drag .ant-upload {
      padding: 12px 0 !important;
    }
  }
}
